*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,body{
    width: 100%;
    height: 100%;
  }

  #main{
    width: 100%;
    height: 100%;
    background-color: #AED6F1  ;
  }

  /* #main #background{
    width: 100%;
    height: 100%;
    /* background-image: url(""); */
    /* background-size: cover; */
    /* background-position: center; */ 

    #logo{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 13%;
      height: 5%;
      top: 1%;
      left: 1%;
    }

    #logo h1{
      font-size: 32px;
      color: #12be5d ;
    }

    #welcome{
      width: 40%;
      height: 10%;
      position: absolute;
      left: 50%;
      top: 10%;
      transform:translate(-50%,-50%);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #welcome h1{
      font-size: 60px;
      color: #12be5d;
    }

    #centerlogo{
      width: 20%;
      height: 20%;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%,-50%);
      /* background-image: url("https://drive.google.com/file/d/1ghDXuCyXNg2oLphYf3yaIrTuKvkrvk52/view?usp=drive_link"); */
      background-image: url("https://plus.unsplash.com/premium_photo-1709311448945-df64d47cb8e7?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-position: center;
      background-size: cover;
    }

    #contents{
      width: 20%;
      height: 50%;
      position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      top: 66%;
      padding: 1% 1%; 
    }

    #contents input{
      border: 1px solid #12be5d;
      text-align: center;
      text-decoration: none;
      background-color: transparent;
      width: 100%;
      height: 100%;
    }

    #firstname{
      width: 100%;
      height: 15%;
    }

    #lastname{
      width: 100%;
      height: 15%;
    }

    #age{
      width: 100%;
      height: 15%;
    }

    #gender{
      width: 100%;
      height: 15%;
    }

    #email{
      width: 100%;
      height: 15%;
    }

    .myButton {
      width: 120px; 
      height: 45px; 
      background-color: #12be5d;
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 12px;
      margin: 2px 1px;
      cursor: pointer;
      border-radius: 6px;
    }

    #b_signup{
      width: 50%;
      height: 15%;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #alreadyenrolled{
      display: flex;
      width: 100%;
      height: 15%;
      position: absolute;
      top: 89%;
      left: -1%;
      padding: 6px 6px; 
    }

    #alreadyenrolledtext{
      width: 70%;
      height: 50%;
      top: 80%;
    }

    #alreadyenrolledtext h2{
      color: #12be5d;
      font-size: 18px;
    }

    #b_signin{
      width: 100%;
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #copyright{
      width: 5%;
      position: absolute;
      right: 1%;
      bottom: 1%;
      font-weight: 800;
      font-size: 30px;
      color: #12be5d;
    }


